.blue-bird__home_cta {
  width: 40%;
  background: rgba(39, 141, 233, 0.6);
  background-size: cover;
  padding: 1rem;
}

.blue-bird__cta_text {
  font-size: .8rem;
  color: #FFFFFF;
}

@media (max-width: 1150px) {
  .blue-bird__home_cta {
    width: 100%;
  }

  @media (orientation: landscape) {
    .blue-bird__cta_header {
      margin-bottom: .3em;
    }

    .blue-bird__cta_text {
      font-size: .7em;
      margin-bottom: .6em;
    }
  }
}


