<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ require_css(get_asset_url("/blue-bird-v2/css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {{ require_css(get_asset_url("/blue-bird-v2/css/theme-overrides.css")) }}
    {{ require_css(get_asset_url("/blue-bird-v2/css/templates/home.css"))}}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">

      {% block header %}
        <div class="hero">
            {% image "hero" %}
            <div class="hero-text">
                {% header "header-headline" %}
                {% rich_text "header-copy" %}
                {% cta "header-cta" %}
            </div>
        </div>
      {% endblock header %}

      {% block body %}
        <div>Hi</div>
      {% endblock body %}

      {% block footer %}
        {% global_partial path='/blue-bird-v2/templates/partials/footer.html' %}
      {% endblock footer %}
    </div>
    {{ require_js(get_asset_url('/blue-bird-v2/js/main.js')) }}
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
